wp-content/ai1wm-backups
wp-config.php
wp-content/uploads/
wp-content/cache/
wp-content/backup-db/
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/plugins/happilee-connect/.vscode
.htaccess
error_log